.main-image {
  height: 275px;
  width: 100%;
  background-image: url('http://res.cloudinary.com/kurzweg/image/upload/v1501196948/cherryblossom_bwcrop.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.main-image-mobile {
  height: 225px;
  width: 100%;
  background-image: url('http://res.cloudinary.com/kurzweg/image/upload/v1501196948/cherryblossom_bwcrop.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.second-image {
  background-image: url('http://res.cloudinary.com/kurzweg/image/upload/v1496534243/weho.jpg');
  background-attachment: fixed;
  background-size: cover;
  padding-top: 20%;
  background-position: center;
}

.third-image {
  background-image: url('http://res.cloudinary.com/kurzweg/image/upload/v1501196948/palmtrees.jpg');
  background-attachment: fixed;
  background-size: cover;
  padding-top: 300px;
  background-position: center;
}

.second-image-mobile {
  background-image: url('http://res.cloudinary.com/kurzweg/image/upload/v1496534243/weho.jpg');
  background-attachment: fixed;
  background-size: cover;
  padding-top: 30%;
}

.resume-image {
  height: 275px;
  width: 100%;
  background-image: url('http://res.cloudinary.com/kurzweg/image/upload/v1501196950/cherryblossom_crop.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.resume-image-mobile {
  width: 100%;
  background-image: url('http://res.cloudinary.com/kurzweg/image/upload/v1499379497/palms.jpg');
}

.contact-image {
  height: 225px;
  width: 100%;
  background-image: url('/media/la_night2.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.contact-image-mobile {
  height: 225px;
  width: 100%;
  background-image: url('/media/la_night2.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.new {
  font-weight: bold;
  color: #FAFAFA;
}

.ant-modal {
  width: 95% !important;
  padding: 3%;
}

.ant-btn-primary {
  background-color: #108EE9;
}

// Slider in Modals

.ant-carousel .slick-slide {
  text-align: center;
  height: 200px;
  line-height: 260px;
  background: #212121;
  color: #fff;
  overflow: hidden;
}

//Modal

.ant-modal-header {
  background-color: #C2C979 !important;
}

.ant-modal-title {
  color: black !important;
  font-size: 28px !important;
  padding: 2%;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-family: 'Oswald';
  line-height: 1em !important;
}

.ant-modal-content {
  background-color: #FAFAFA !important;
}

.ant-modal-body {
  font-size: 16px !important;
  color: black;
  font-family: 'Josefin Sans'
}

// Stepper/Skills

.steps-content {
  min-height: 200px;
  text-align: center;
  padding-top: 2%;
}

.steps-action {
  margin: 0 auto;
  margin-top: 24px;
  width: 100px;
  padding-bottom: 3%;
}

// Gallery

.wrapper {
    width: 50%;
    margin: auto;
}

.masonry {
    width: 90%;
    margin: 0 auto;
    column-count: 2;
    column-gap: .5em;
}

.item-container {
  width: 100%;
  display: block;
  margin: 0 auto;
  background: url('http://hoott.com/images/ajax_loader.gif') 50% 50% no-repeat;
}

.item {
  display: inline-block;
  margin: 0 0 1.2em;
  width: 100%;
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}
